* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(1, 1, 48);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    font-size: 1rem;
    color: rgb(95, 95, 128);

}


.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

.leftsection {
    font-size: 2.4rem;
    margin-top: 100px;
    width: 30%;


}

.leftsection .button {
    display: flex;
    height: auto;
    width: auto;


}

.leftsection .btn {
    display: flex;
    padding: 3px;
    margin: 5px;
    background: #21013b;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    height: auto;
    width: auto;

}

.rightsection img {
    width: 80%;
    margin-top: 30px;
    align-items: center;


}

.firstsection div {
    width: 30%;
}

main hr {
    border: 0;
    background: lavender;
    height: 1.2px;
    margin: 40px 84px;
}

.academics {
    margin: auto;
    max-width: 80vw;
    height: 50vh;
}

.academics h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.languages {
    margin: auto;
    max-width: 80vw;
    height: 30vh;
}

.languages h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.courses {
    margin: auto;
    max-width: 80vw;
    height: 80vh;
}

.courses h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.courses-image {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.courses-image img {
    max-width: 48%;
    margin-right: 2%;
}

.courses-image img:last-child {
    margin-right: 0;
}

.leadership {
    margin: auto;
    max-width: 80vw;
    height: 300vh;
}

.leadership h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.professional {
    margin: auto;
    max-width: 80vw;
    height: 50vh;
}

.professional h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.projects {
    margin: auto;
    max-width: 80vw;
    height: 50vh;
}

.projects h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.projects .button {
    display: flex;
    height: auto;
    width: auto;

}

.projects .btn {
    display: flex;
    padding: 3px;
    margin: 5px;
    background: #21013b;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    height: auto;
    width: auto;
}

.content {
    padding: 20px;
}

.footer {
    background-color: rgb(1, 1, 48);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



.copy-right {
    font-size: 14px;
    color: #fff;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    nav {
        font-size: 10px;
    }

    .left {
        font-size: 15px;
    }

    nav ul li {
        margin-left: 10px;
    }

    .firstsection {
        flex-direction: column; 
        display: none;
    }

    .rightsection {
        margin: 20px 0;
        align-items: center;
        display: none;
    }

    .social-media a {
        margin: 0 3px;
    }

    .leftsection h2 {
        font-size: 18px;
    }

    .button {
        flex-direction: row;
        justify-content: space-around;
    }

    .btn {
        font-size: 14px;
    }

    .responsive-image {
        width: 80%;
    }

    body {
        font-size: 14px;
    }

    /* Header */
    .left, .right {
        text-align: center;
    }

    /* Main */
    .firstsection {
        flex-direction: column;
        text-align: center;
    }

    .leftsection {
        padding: 20px;
    }

    /* Academics */
    .table-container table {
        font-size: 14px;
    }

    /* Footer */
    .footer-content {
        justify-content: center;
    }

    .contact-details {
        text-align: center;
    }

    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }

    table {
        font-size: 12px;
    }
    th, td {
        padding: 5px;
    }

    li div {
        display: block;
      }
      .projects{
        height: 80vh;
      }

      .academics{
        min-height: 100vh;
        display: none;
      }

      .leadership{
        max-height: 140vh;
      }

      .courses{
        max-height: 50vh;
      }

      .languages{
        max-height: 30vh;
      }
      .one, .two{
        display: none;
      }


}